*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.btn {
  outline: none;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

input, textarea {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

@import "imports";
@import "media";